extends ./inc/page.pug

block page_id

block content
  section
    article
      .row
        .col-md-12
          h1 Header
          p Hello World
  section
    article
      .row
        .col-md-12
          h1 Header
          p Hello World
  section
    article
      .row
        .col-md-12
          h1 Header
          p Hello World
  section
    article
      .row
        .col-md-12
          h1 Header
          p Hello World
